@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

html, body{
    min-height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.justify{
    text-align: justify;
}